* {
    /* Website reset. */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

a {
    /* Styles the anchors. */
    color: #ffffff;
    text-decoration: none;
}

p {
    /* Default font size for all paragraphical text. */
    font-size: 16px;
}

body {
    /* Colors the backdrop of the entire site. */
    background-color: #d9dcd6;
}

header {
    /* Formats the header text found in the top of the page. */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    /* Formats the company name found at the top left of the page. */
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    /* Minor span formating in the company name at the top left of the page. */
    color: #d9dcd6;
}

header nav {
    /* Formats the navigation links at the top right of the page. */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    /* Formats the navigation links to be side-by-side. */
    display: inline-block;
    margin-left: 25px;
}

.hero {
    /* This is the big stock photo display at the top of the site. */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    /* Contains all of the sections in the bottom left area and provides some basic parameters. */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization {
    /* Creates the SEO content section box. */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    /* Defines the SEO image, floating next to the text. */
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.search-engine-optimization h2 {
    /* SEO Header Text. */
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management {
    /* Creates the ORM content section box. */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management img {
    /* Defines the ORM image, floating next to the text. */
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

.online-reputation-management h2 {
    /* ORM Header Text. */
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing {
    /* Creates the SMM content section box. */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img {
    /* Defines the SMM image, floating next to the text. */
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.social-media-marketing h2 {
    /* SMM Header Text. */
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    /* Contains all of the asides on the bottom right side of the site. */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    /* Formats all Lead Generation text. */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    /* Formats the Lead Generation header. */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    /* Formats the Lead Generation icon. */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand {
    /* Formats all Brand Awareness text. */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand h3 {
    /* Formats the Brand Awareness header. */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img {
    /* Formats the Brand Awareness icon. */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost {
    /* Formats all Cost Management text. */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost h3 {
    /* Formats the Cost Management header. */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost img {
    /* Formats the Cost Management icon. */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    /* Styles and formats for our footer. */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    /* Slightly reduces the size of the footer's header text. */
    font-size: 20px;
}
